import { cuid } from '@ioc:Adonis/Core/Helpers'
import { HttpContextContract } from '@ioc:Adonis/Core/HttpContext'

export const sendResetPasswordCode = async ({ auth, logger }: HttpContextContract) => {
  const user = auth.user!

  user.resetPasswordToken = cuid().slice(-6).toUpperCase()

  await user.save()

  // TODO
  logger.warn('TODO implement email/sms sending')

  return { message: 'reset password code sent' }
}

