version: "3.8"
services:
    db:
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        cap_add:
            - SYS_NICE
        restart: always
        environment:
            - MYSQL_DATABASE=galadrim_tools
            - MYSQL_ROOT_PASSWORD=root
        ports:
            - "3310:3306"
        volumes:
            - db:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-proot"]
            interval: 5s
            timeout: 5s
            retries: 20
volumes:
    db:
        driver: local
