/* Gift.css */
.wrapper {
    width: 600px;
    height: 600px;
    position: relative;
}

.gift {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gift.open {
    transform: scale(0);
    cursor: default;
}

.gift:hover {
    animation: shake 0.2s infinite;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.content.visible {
    opacity: 1;
    background-color: #fefae0;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}
