.category-info {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 8px;
    padding: 16px;

    text-align: center;

    justify-content: center;
    align-items: center;

    .label {
        font-size: 28px;
        font-weight: 500;
        color: #8367c7;
    }

    .value {
        font-size: 16px;
        font-weight: 500;
        color: #8367c7;
    }

    .average {
        font-size: 20px;
        font-weight: 500;
        color: #8367c7;
    }

    .position {
        font-size: 20px;
        font-weight: 500;
        color: #8367c7;
    }

    .conditional-label {
        font-size: 24px;
        font-weight: 700;
        color: #8367c7;
        max-width: 700px;
    }
}
